In [2]:
import psycopg2
import pandas as pd

## Functions

In [3]:
def connect_db():
    conn = psycopg2.connect("host=localhost dbname=smi user=postgres password=password")
    conn.set_session(autocommit=True)
    cur = conn.cursor()
    return conn, cur

In [4]:
def select_data(tableName, limit):
    cur.execute("select * from {} limit {}".format(tableName, limit))
    row = cur.fetchall()
    for r in row:
        print(r)

In [5]:
def fetch_data(tableName):
    query = "select * from {}".format(tableName)
    df = pd.read_sql(query, conn)
    return df

In [6]:
def toNumbers(df, col):
    df[col] = df[col].replace({"K":"*1e3", "M":"*1e6"}, regex=True).map(pd.eval).astype(int)

## Transformation

In [7]:
conn, cur = connect_db()

In [8]:
ii_df = fetch_data("insta_influencer")
ii_df

,username,name,followers,audience_country,authentic_engagement,engagement_avg,category_1,category_2
0,433,433,48.5M,Spain,383.1K,637K,Sports with a ball,NaN
1,__youngbae__,TAEYANG,12.7M,Indonesia,478K,542.3K,Music,NaN
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,18.8M,Russia,310.8K,377.9K,Shows,NaN
3,_imyour_joy,Joy,13.5M,Indonesia,1.1M,1.4M,Lifestyle,NaN
4,_jeongjaehyun,Jaehyun,11.1M,Indonesia,2.5M,3.1M,NaN,NaN
...,...,...,...,...,...,...,...,...
995,zendaya,Zendaya,136.1M,United States,6.4M,8.6M,Cinema & Actors/actresses,Fashion
996,zidane,zidane,31.2M,Spain,546K,744.1K,Sports with a ball,NaN
997,zkdlin,KAI,13.9M,Indonesia,1.3M,1.6M,Music,NaN
998,zoeisabellakravitz,Zoë Kravitz,8.2M,United States,583K,885.5K,Cinema & Actors/actresses,NaN
999,zoesugg,Zoë Sugg,9.4M,United Kingdom,208.7K,289.3K,Lifestyle,Business & Careers

In [9]:
toNumbers(ii_df, 'followers')
toNumbers(ii_df, 'authentic_engagement')
toNumbers(ii_df, 'engagement_avg')

In [10]:
ii_df = ii_df.replace('NaN', '')

In [12]:
ii_df.head(5)

,username,name,followers,audience_country,authentic_engagement,engagement_avg,category_1,category_2
0,433,433,48500000,Spain,383100,637000,Sports with a ball,
1,__youngbae__,TAEYANG,12700000,Indonesia,478000,542300,Music,
2,_agentgirl_,НАСТЯ ИВЛЕЕВА,18800000,Russia,310800,377900,Shows,
3,_imyour_joy,Joy,13500000,Indonesia,1100000,1400000,Lifestyle,
4,_jeongjaehyun,Jaehyun,11100000,Indonesia,2500000,3100000,,
...,...,...,...,...,...,...,...,...
95,asaprocky,GRIM,14600000,United States,383600,641700,Music,
96,ashishchanchlani,Ashish Chanchlani,13300000,India,832600,1000000,Cinema & Actors/actresses,
97,ashleybenson,Ashley Benson,22400000,Brazil,101000,144300,Modeling,
98,ashleygraham,A S H L E Y G R A H A M,17200000,United States,392700,519500,Modeling,
99,aslisona,Sonakshi Sinha,21400000,India,110200,134100,Cinema & Actors/actresses,Lifestyle

In [ ]:
# creating ddl

In [19]:
ii_df_cols = list(ii_df.columns.values)
ii_df_cols

['username',
 'name',
 'followers',
 'audience_country',
 'authentic_engagement',
 'engagement_avg',
 'category_1',
 'category_2']

In [16]:
ii_df.dtypes

username                object
name                    object
followers                int32
audience_country        object
authentic_engagement     int32
engagement_avg           int32
category_1              object
category_2              object
dtype: object

In [92]:
dtype_list = []
for d in ii_df.dtypes:
    if d == 'int32':
        dtype_list.append('float')
    else:
        dtype_list.append('varchar')
dtype_list

['varchar',
 'varchar',
 'float',
 'varchar',
 'float',
 'float',
 'varchar',
 'varchar']

In [97]:
ddlStmt = 'create table if not exists final_insta_influencer ('

for i in range(len(dtype_list)):
    ddlStmt = ddlStmt + '\n' + ii_df_cols[i] + ' ' + dtype_list[i] + ','

ddlStmt = ddlStmt[:-1] + ' );'

In [98]:
print(ddlStmt)

create table if not exists final_insta_influencer (
username varchar,
name varchar,
followers float,
audience_country varchar,
authentic_engagement float,
engagement_avg float,
category_1 varchar,
category_2 varchar );

In [106]:
cur.execute(ddlStmt)

In [ ]:
# inserting data

In [112]:
ii_insert_stmt = ("INSERT INTO public.final_insta_influencer \
(username, name, followers, audience_country, authentic_engagement, engagement_avg, category_1, category_2) \
VALUES(%s, %s, %s, %s, %s, %s, %s, %s);")

In [113]:
for i, row in ii_df.iterrows():
    cur.execute(ii_insert_stmt, list(row))

In [114]:
cur.execute("select * from public.final_insta_influencer limit 15")
res = cur.fetchall()
for r in res:
    print(r)

('433', '433', 48500000.0, 'Spain', 383100.0, 637000.0, 'Sports with a ball', '')
('__youngbae__', 'TAEYANG', 12700000.0, 'Indonesia', 478000.0, 542300.0, 'Music', '')
('_agentgirl_', 'НАСТЯ ИВЛЕЕВА', 18800000.0, 'Russia', 310800.0, 377900.0, 'Shows', '')
('_imyour_joy', 'Joy', 13500000.0, 'Indonesia', 1100000.0, 1400000.0, 'Lifestyle', '')
('_jeongjaehyun', 'Jaehyun', 11100000.0, 'Indonesia', 2500000.0, 3100000.0, '', '')
('_mariahwasa', 'HWASA', 7900000.0, 'Brazil', 915100.0, 1200000.0, '', '')
('_rl9', 'Robert Lewandowski', 25000000.0, 'Poland', 588600.0, 749000.0, 'Sports with a ball', '')
('_seorina', '설인아 sᴇᴏʀɪɴᴀ', 3000000.0, 'South Korea', 803900.0, 997800.0, 'Lifestyle', 'Cinema & Actors/actresses')
('_shotaroo_', 'SHOTARO ショウタロウ', 4900000.0, 'Indonesia', 860100.0, 1100000.0, '', '')
('03_hu', '박지후', 4099999.0, 'South Korea', 711000.0, 872600.0, '', '')
('21savage', '', 13200000.0, 'United States', 263500.0, 462000.0, 'Music', '')
('333cyj333', 'Ars 🎗', 6500000.0, 'Thailand', 359300.0, 427700.0, 'Music', '')
('3gerardpique', 'Gerard Piqué', 19800000.0, 'Spain', 446100.0, 658800.0, 'Sports with a ball', '')
('50cent', '50 Cent', 27900000.0, 'United States', 177500.0, 283200.0, 'Music', '')
('9gag', '9GAG: Go Fun The World', 58300000.0, 'Indonesia', 214700.0, 276900.0, 'Humor & Fun & Happiness', '')